.buttons {
	margin-top: 15px;
}

.btn {
  background-color: $colorBlue;
  border: none;
	border-bottom: 2px solid #095079;
	border-radius: 3px;
	color: $colorWhite;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
  outline: none;
	padding: 4px 6px;
	user-select: none;

	&:active {
		border: 0;
		position: relative;
		top: 2px;
	}
}
