.container {
	background-color: $colorWhite;
	border-radius: 5px;
	box-shadow: 0px 0px 7px 1px $colorDefault;
	margin-top: 50px;
	padding: 30px;

	.title {
		text-align: center;
		margin-bottom: 16px;
	}
}
